<div class="container">
  <form>
    <div class="mb-3">
      <label for="id" class="form-label">ID</label>
      <input type="string" class="form-control" id="exampleInputEmail1">

    </div>
    <div class="mb-3">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputName">

    </div>
    <div class="mb-3">
      <label for="inputStatus" class="form-label">Status</label>
      <input type="text" class="form-control" id="inputStatus">

    </div>
    <div class="mb-3">
      <label for="inputSpecies" class="form-label">Species</label>
      <input type="text" class="form-control" id="inputSpecies">

    </div>
    <div class="mb-3">
      <label for="inputGender" class="form-label">Gender</label>
      <input type="text" class="form-control" id="inputGender">

    </div>
    <div class="mb-3">
      <label for="inputOrigin" class="form-label">Origin</label>
      <input type="text" class="form-control" id="inputOrigin">

    </div>
    <div class="mb-3">
      <label for="inputLocation" class="form-label">Location</label>
      <input type="text" class="form-control" id="inputLocation">

    </div>
    <div class="mb-3">
      <label for="inputImage" class="form-label">Image</label>
      <input type="url" class="form-control" id="inputImage">

    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>
